.watcher{
    width: 100vw;
    height: 100vh;
    background-color: plum;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.header{
    height:90px;
    background-color: white;
    width: 100vw;
    position: absolute;
    top: 0;

}
.chat{
    width: 50%;
    height: 100vh;
    background-color: antiquewhite;
}

.video{

    width: 80%;
    height: 100%;
}

.body{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    
   
    
}




.input{

    position: absolute;
    bottom: 10px;
    right: 10px;
 

}

.textfield{
    width: 60%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10;
}



@media only screen and (max-width: 600px) {
    .video{
        filter: FlipH;
        -ms-filter: "FlipH";
        width: 100%;
        height: 100vh;
    }
    .chat{
        display: none;
    }
    
    .input{
        position: absolute;
        margin:0 auto;
     
    
    }

  }